.titulo{
    font-family: 'Liberation Serif', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    background-color: rgb(128, 182, 204);
}

body{
    margin-left: 15%;
    margin-right: 15%;
}

.cabecera{
    display: grid;
    grid-template-columns: 300px 300px 300px;
   
}

.BANDH{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 200px;
}
.BANDH2{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 330px;
}

.nombreCarrera{
    display: grid;
    grid-template-columns: 250px 250px;
    margin-top: 20px;
}

p{
    font-size: 20px;
}

.imagen{
    margin-left: 40px;
}
*{
    font-family: 'Times New Roman', Times, serif;
}



